/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* css reset: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}



/*end of css reset*/

.main-header {
    background-color: orange;
    color: black;
    text-align: center;
    height: 3rem;
    
    font-weight: bold;
    font-size: 3rem;
    padding: 20px;
    font-family: teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
    font-size: 1.5rem;
    background-color: black;
    font-family: teko, sans-serif;
    letter-spacing: 1px;
}

.nav-hoverstate:hover {
    -webkit-text-decoration: underline 1px;
            text-decoration: underline 1px;
    color: white;
}

nav i {
    color: rgba(6, 38, 151, 0.7);
}

#download-link-minecraft {
    -webkit-text-decoration: underline grey 2px;
            text-decoration: underline grey 2px;
    color: white;
}
#download-link-minecraft:hover {
    text-decoration: underline white 4px;
}

a {
    text-decoration: none;
}

nav>a {
    text-decoration: none;
    color: white;
    padding: 15px 0px 15px 0px;
}

#index__image {
    background-image: url(../images/index__background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    height: 20rem;
    width: 25rem;
}

.minecraft-video {
    margin: 0 auto;
    margin-top: 10px;
}

#form__image {
    background-image: url(../images/form__background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #3C5E4E;
}

.about__image {
    background-image: url(../images/about__background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#index-image-text {
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgba(6, 38, 151, 0.7);
    font-family: teko, sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 3rem;
}

#index-p {
    font-size: 2rem;
}

#icon-download-left {
    float: left;
}

#icon-download-right {
    float: right;
}

.contact-page__container {
    height: 90vh;
}

#contact__image {
    background-image: url(../images/contact__background.png);
    width: 100%;
    height: 83vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    position: fixed;
    bottom: 0;
    height: 4em;
    background-color: black;
    width: 100%;
}

footer li {
    display: inline;
}

.socials {
    text-align: center;
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
}

.socials i {
    color: white;
}

form {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100%;
    font-family: teko, sans-serif;
    margin: 0 auto;
    width: 33%;
}

.form {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;

    background-color: rgba(6, 38, 151, 0.7);
}

#form-header {
    text-decoration: underline;
    font-size: 2.5rem;
}

#left-newspaper {
    float: left;
}

#right-newspaper {
    float: right;
}

.terms {
    height: 70px;
    overflow-y: auto;
    background-color: rgba(32, 94, 225, 0.7);
    text-decoration: none;

    font-size: 15px;
}

table{
    background-color: rgba(32, 94, 225, 0.7);
    font-size: 1.5rem;
    color: white;
    margin: 0 auto;
    font-family: teko, sans-serif;
    border: 2px white;
    border-spacing: 1rem;    
}
th, td {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    background-color: rgba(32, 94, 225);
}

thead, th {
    background-color: black;
}

.terms::-webkit-scrollbar {
        width: 0.5em; 
}

.submit__image {
    background-image: url(../images/submit__background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#submit-image-text {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(60, 94, 78, 0.7);
    font-family: teko, sans-serif;
    width: 60%;
    margin: 0 auto;
    text-align: center;

}

#submit-image-text-heading {
    font-size: 3rem;
    -webkit-text-decoration: underline 2px;
            text-decoration: underline 2px;
    text-align: center;
}

#champagne {
    font-size: 1rem;
    padding: 20px;
}
button {
    color: white;
    display: inline-block;
    background-color: grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: underline white 1px;
    font-size: 2rem;
    border-radius: 5px;
    font-family: teko, sans-serif;
}

#contact__button:hover{
    text-decoration: underline white 2px;
}
#submit-link{
    color: white;
    display: inline-block;
    background-color: grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: underline white 1px;
    font-size: 2rem;
    border-radius: 5px;
    font-family: teko, sans-serif;
}
#submit-link:hover {
    text-decoration: underline white 3px;
}


#contact-text {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(32, 94, 225, 0.7);
    color: white;
    width: 30%;
    font-family: teko, sans-serif;
    font-size: 2rem;
}



#about-text {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(32, 94, 225, 0.7);
    color: white;
    width: 30%;
    font-family: teko, sans-serif;
    font-size: 2rem;
    gap: 10px;
}

.about-paragraphs {
    gap: 10px;
}


#book-link{
    color: white;
    text-decoration: underline 1px white;
}

#book-link:hover {
    text-decoration: underline 3px white;
}

#contact__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: underline white 1px;
    font-size: 1em;
    border-radius: 5px;
    font-family: teko, sans-serif;
}
#contact__button:hover {
    text-decoration: underline white 3px;
}

aria-label {
    display: none;
}

.mobile-padding__about {
    padding: 20px;
}
/*Media Queries*/

@media screen and (max-width: 1200px){

    form {
        width: 50%;
    }
}


@media screen and (max-width: 1010px) {

    #about-text {
        width: 50%;
    }

    #icon-download-left{
        display: none;
    }

    #icon-download-right {
        display: none;
    }

    #index-p {
        font-size: 1rem;
      }

}
@media screen and (max-width: 950px) {

    #left-newspaper {
        display: none;
    }

    #right-newspaper {
        display:none;
    }

    nav {
        line-height: 25px;
    }

    #about-text,
    #contact-text {
        width: inherit;
    }
}

@media screen and (max-width: 768px) {
    #about-text {
        width: 100%;
    }

    #submit-image-text {
        width: 90%;
        font-size: 1rem;
    }

    #index-image-text {
        font-size: 2rem;
    }

    iframe {
        width: 80%;
        height: auto;
    }

    #champagne-left {
        display: none;
    }

    #champagne-right {
        display: none;
    }

    nav {
        font-size: 1rem;
        padding: 0px 10px 0px 10px;
    }
}
@media screen and (max-width: 600px) {
  #about-text{
    font-size: 1.5rem;
  }  
 
  #contact-text {
    font-size: 1.5rem;
  }
  table {
    font-size: 1rem;
  }
  
  .p-media-query {
    font-size: 1rem;
}

}

@media screen and (max-width: 500px) {
   iframe {
    width: 80%;
    height: auto;
   }
    form {
        width: 97%;
    }

    #chess-rook-left {
        display: none;
    }

    #submit-image-text-heading {
        font-size: 1.5rem;
    }

    #chess-rook-right {
        display: none;
    }

    #champagne {
        display: none;
    }

    #left-newspaper {
        display: none;
    }

    #right-newspaper {
        display: none;
    }
    
    #index-image-text {
        font-size: 2rem;
    }

    .socials  {
        font-size: 30px;
    }
}