/* css reset: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of css reset*/


.main-header{
background-color: orange;
color: black;
text-align: center;
height: 3rem;
margin: 0px;
font-weight: bold;
font-size: 3rem;
padding: 20px;
color: white;
font-family: teko, sans-serif;
text-transform: uppercase;
letter-spacing: 7px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 40px;
    font-size: 1.5rem;
    background-color: black;
    font-family: teko, sans-serif;
    letter-spacing: 1px;
}
nav i {
    color: rgba(6, 38, 151, 0.7);
}

h1 {
    color: white;
    text-decoration: none;
}

#download-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav > a {
    text-decoration: none;
    color: white;
    padding: 15px 0px 15px 0px;
}

.hero__image {
    background-image: url(./images/hero-image.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form__image {
    background-image: url(./images/minecraft-2053888_1280.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 350%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 160px;
    width: 300px;
    padding-left: 10px;
    background-color: rgba(6, 38, 151, 0.7);
    top: 300px;
    left: 150px;
    position: absolute;
    font-family: teko, sans-serif;
    
}
footer {
    position: fixed;
    bottom: 0;
    height: 4em;
    background-color: black;
    width: 100%
}
footer li {
display: inline;
}
.socials {
    text-align: center;
    font-size: 220%;
    display: flex;
    justify-content:center;
    gap: 4rem;
    
}
.socials i {
    color: white;
}
form {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 100%;
    width: 33%;
    padding-left: 10px;
    background-color: rgba(6, 38, 151, 0.7);
    top: 9.6em;
    left: 33%;
    position: absolute;
    font-family: teko, sans-serif;
    
}
.form {
    text-align: center;
    padding: 2rem;
    position: relative;
}
